.cuadro{
	border: 1px solid;
	background-color: #808080;
	padding: 50px;
	display: inline;
	margin: 20px;
	position: absolute;
}

.c1{
	border: 1px solid;
	background-color: #808080;
	padding: 40px;
	display: inline;
	margin: 10px;


}

s