.cuadro{
	border: 1px solid;
	background-color: #808080;
	display: block;
	margin: 10px;
	width: 100px;
	height: 100px;

}

.cuadro1{
	border: 1px solid;
	background-color: #808080;
	padding: 50px 10px;
	display: inline-block;
	position: relative;
	left: 10px;
	
}

.c1{
	border: 1px solid;
	background-color: #808080;
	padding: 40px;
	display: inline;
	margin: 10px;

}

.cuadro2{
	border: 1px solid;
	background-color: #808080;
	display: block;
	margin: 10px;
	width: 100px;
	height: 100px;
}


.cd{
	border: 1px solid;
	background-color: #808080;
	display: block;
	margin: 10px;
	width: 100px;
	height: 100px;
}