.cuadro{
	border: 1px solid;
	background-color: #808080;
	display: block;
	margin: 10px;
	width: 100px;
	height: 100px;

}

.cuadro1{
	border: 1px solid;
	background-color: #808080;
	width: 375px;
	height: 125px;
	display: block;
	position: relative;
	left: 10px;
	
}

.c1{
	border: 1px solid;
	background-color: #808080;
	display: inline-block;
	margin: 10px;
	width: 100px;
	height: 100px;

}

.cuadro2{
	border: 1px solid;
	background-color: #808080;
	display: inline-block;
	margin: 10px;
	width: 100px;
	height: 100px;

}

.cuadro3{
	border: 1px solid;
	background-color: #808080;
	display: inline-block;
	margin: 10px;
	width: 100px;
	height: 100px;
}

.cd{
	border: 1px solid;
	background-color: #808080;
	display: block;
	margin: 10px;
	width: 100px;
	height: 100px;
}